<!-- ######################## TIPO DE REDE #######################  -->
<div class="mainContent">

    <h5>Cadastrar Tipo de Rede</h5>
    <div class="boxNext row"></div>

    <div class="clearfix"></div>
    <div class="col s12">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="salvarTipoRede()" >
        <div class="row">

            <div class="input-field col s4" *ngIf="(isVisualizacao() || isEdicao())">
                <label class="active" for="situacao">Situação</label>          
                <input id="status" formControlName="status" name="status" type="text">
            </div>

            <div class="clearfix"></div>

            <div class="input-field col s4" [ngClass]="utilService.aplicaCssErro('descricao', formulario)">
                <label class="active" for="descricao">Tipo de Rede <span class="asterisco">*</span></label>
                <input id="descricao" formControlName="descricao" name="descricao" type="text" [textMask]="constantesService.getMaskDef().alfaNumerico(100)" [readonly]="(isVisualizacao() || isEncerramento())">
                <app-campos-control-erro [mostrarErro]="utilService.verificaValidTouched('descricao', formulario)" msgErro="Campo de preenchimento obrigatório."></app-campos-control-erro>
            </div>

            <div class="input-field col s4" [ngClass]="utilService.aplicaCssErro('dataInicioVigencia', formulario)">
                <label class="active" for="dataInicioVigencia">Início de Vigência <span class="asterisco">*</span></label>
                <input id="dataInicioVigencia" formControlName="dataInicioVigencia" name="dataInicioVigencia" class="datepicker {{bloquearEdicaoDataInicio() ? 'pickadate-readonly' : ''}}" type="text" materialize="pickadate" [materializeParams]="[constantesService.getDatePickerConfig()]">
                <app-campos-control-erro [mostrarErro]="utilService.verificaValidTouched('dataInicioVigencia', formulario)" msgErro="Campo de preenchimento obrigatório."></app-campos-control-erro>          
            </div>
                     
            <div class="input-field col s4" [ngClass]="utilService.aplicaCssErro('dataFimVigencia', formulario)" *ngIf="(isEncerramento() || isSituacaoEncerrado())">
                <label class="active" for="dataFimVigencia">Fim de Vigência <span class="asterisco">*</span></label>
                <input id="dataFimVigencia" formControlName="dataFimVigencia" name="dataFimVigencia" class="datepicker {{bloquearEdicaoDataFim() ? 'pickadate-readonly' : ''}}" type="text" materialize="pickadate" [materializeParams]="[constantesService.getDatePickerConfig()]">
                <app-campos-control-erro [mostrarErro]="utilService.verificaValidTouched('dataFimVigencia', formulario)" msgErro="Campo de preenchimento obrigatório."></app-campos-control-erro>
            </div>

            <div class="clearfix"></div>

            <div class="box-buttons" *ngIf="isVisualizacao()">
            <!-- Exibe apenas quando a tela eh configurada para exibicao -->
                <button type="button" class="waves-effect waves-light btn btnPrimary" (click)="editarTipoRede( getTipoRede() )" *ngIf="isSituacaoEditavel()">Editar</button>
                <button type="button" class="waves-effect waves-light btn btnSecondary" (click)="pesquisarTipoRede()">Fechar</button>
            </div>
    
            <div class="box-buttons" *ngIf="( isCadastro() || isEdicao() )">
            <!-- Exibe apenas quando a tela eh configurada para cadastro (Novo) ou Edicao -->
                <button type="submit" class="waves-effect waves-light btn btnPrimary">Salvar</button>
                <button type="button" class="waves-effect waves-light btn btnPrimary" (click)="salvarTipoRede(true)">Aprovar</button>
                <button type="button" class="waves-effect waves-light btn btnSecondary" (click)="pesquisarTipoRede()">Cancelar</button>          
            </div>
    
            <div class="box-buttons" *ngIf="isEncerramento()">
            <!-- Exibe apenas quando a tela eh configurada para encerramento -->
                <button type="button" class="waves-effect waves-light btn btnPrimary" (click)="salvarTipoRede()">Encerrar</button>
                <button type="button" class="waves-effect waves-light btn btnSecondary" (click)="pesquisarTipoRede()">Fechar</button>
            </div>

            <div class="grid-divider"></div>
        </div>
    </form>

    </div>

    <!-- ######################## FIM TIPO DE REDE #######################  -->

</div>
          
  