<!-- Tela de Pesquisar Produto  -->
<div class="mainContent">
  <div class="dashboard row">
    
    <a (click)="visualizarProduto()" class="dashCard col bodyCard cadastroProduto">
        <i class="large material-icons">note_add</i>
        <span>Cadastro de Produto</span>
    </a>

    <a (click)="configurarProduto()" class="dashCard col bodyCard configuracaoProduto">
        <i class="large material-icons">settings_applications</i>
        <span>Configuração de Produto</span>
    </a>

  </div>    

</div>
<!-- ############# FIM DA TELA DE PESQUISAR FORNECEDORES ################ -->