<div class="pagination" *ngIf="count > 0">
	<div class="description">
		<span class="page-counts">{{ getMin() }} - {{ getMax() }} de {{ count }}</span>
		<span class="page-totals">total de <strong>{{ totalPages() }}</strong> páginas</span>
	</div>
	<div class="numbers">
		<button class="link waves-effect waves-light btn pgButtons numbers" (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Anterior</button>
		
		<button class="waves-effect waves-light btn pgButtons"
      *ngFor="let pageNum of getPages()"
			(click)="onPage(pageNum)"
    	[ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

		<button class="link waves-effect waves-light btn pgButtons" (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Próxima &gt;</button>
	</div>
</div>