<div class="mainContent resultBox">
    <!-- ######################## RESUMO #######################  -->

    <h5>Resumo</h5>
    <div class="boxNext row"></div>

    <div class="clearfix"></div>
    <div class="col s12">
        <div class="row">

            <h5 class="subTitle">Informações do produto</h5>
            <div class="boxNextSubTitle row"></div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Código</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Nome</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Processo SUSEP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Versão</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Situação</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Início da comercialização</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <h5 class="subTitle">Coberturas</h5>
            <div class="boxNextSubTitle row"></div>

            <span class="spanTitleFirst">Nome do parceiro:</span> Lorem | <span class="spanTitle">Tipo de local de venda:</span> Lorem | <span class="spanTitle">Enquadramento: </span>lorem | <span class="spanTitle">Cobertura: </span>lorem
            <div class="clearfix"></div>
            
            <span class="hTitle">Detalhes da cobertura</span>
            <div class="cleafix"></div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Cobertura</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Tipo de cobertura</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Forma de contratação</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Prêmio</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Tábua</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Grupo SUSEP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Ramo SUSEP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Remo Caixa Seguros</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Número processo SUSEP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Código PLN</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Remissão parcela</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Moeda cobertura</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Possui carência?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Idade máxima para contratação</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <span class="hTitle">Capital Segurado</span>
            <div class="cleafix"></div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Utiliza alguma cobertura como referência?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Mínimo / Máximo</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <span class="hTitle">Sinistro</span>
            <div class="cleafix"></div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">O Sinistro cancela o seguro?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Pode indenizar mais de uma vez?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Reintegração automática</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Existe idade máxima para cobertura?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Possui franquia?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>
            
            <h5 class="subTitle">Precificação</h5>
            <div class="boxNextSubTitle row"></div>

            <span class="spanTitleFirst">Parceiro:</span> Lorem | <span class="spanTitle">Tipo de local de venda:</span> Lorem
            <div class="clearfix"></div>
            
            <span class="hTitle">Taxa de carregamento</span>
            <div class="cleafix"></div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Taxa</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Percentual</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <span class="hTitle">Despesas operacionais</span>
            <div class="cleafix"></div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Despesa</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Valor/Percentual</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <h5 class="subTitle">Assistências e Serviços</h5>
            <div class="boxNextSubTitle row"></div>

            <span class="spanTitleFirst">Parceiro:</span> Lorem | <span class="spanTitle">Tipo de local de venda:</span> Lorem
            <div class="clearfix"></div>
            
            <span class="hTitle">Detalhes da cobertura</span>
            <div class="cleafix"></div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Empresa</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Contrato</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Valor</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s3">
                <label class="active" for="codigoSubscricao">Forma de contratação</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s12">
                <label class="active" for="codigoSubscricao">Observações</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <h5 class="subTitle">Acoplados</h5>
            <div class="boxNextSubTitle row"></div>

            <span class="spanTitleFirst">Parceiro:</span> Lorem | <span class="spanTitle">Tipo de local de venda:</span> Lorem
            <div class="clearfix"></div>
            
            <span class="hTitle">Item adicionado</span>
            <div class="cleafix"></div>

            <div class="input-field col s8">
                <label class="active" for="codigoSubscricao">Manter número de sorte na renovação?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Código plano CAP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Qte. de sorteio</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Periodicidade de sorteio</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Quantidade de títulos</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Valor unitário por título</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <span class="hTitle">Especificidade</span>
            <div class="cleafix"></div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Por periodicidade de pagamento</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Por capital</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>
            
            <h5 class="subTitle">Comissão</h5>
            <div class="boxNextSubTitle row"></div>

            <span class="spanTitleFirst">Parceiro:</span> Lorem | <span class="spanTitle">Tipo de local de venda:</span> Lorem
            <div class="clearfix"></div>
            
            <span class="hTitle">Corretor</span>
            <div class="cleafix"></div>

            <div class="input-field col s8">
                <label class="active" for="codigoSubscricao">Manter número de sorte na renovação?</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Código plano CAP</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Qte. de sorteio</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Periodicidade de sorteio</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Quantidade de títulos</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s4">
                <label class="active" for="codigoSubscricao">Valor unitário por título</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <span class="hTitle">Especificidade</span>
            <div class="cleafix"></div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Por periodicidade de pagamento</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

            <div class="input-field col s6">
                <label class="active" for="codigoSubscricao">Por capital</label>
                <input class="viewList" readonly type="text" value="XXXX">
            </div>

        </div>
    </div>

    <!-- ######################## FIM DE CONFIGURAR SUBSCRIÇÃO #######################  -->
</div>
