<div class="divider10"></div>
<div class="divider10"></div>
<div class="mainContent">
    <div class="generalBox">        
        <a id="dados-gerais" routerLink="./../dados-gerais" class="dashCardWizard col bodyCard cadastroProduto {{ exibeDadosGerais ? '' : ''}}" >
            <i class="large material-icons">note_add</i>
            <span>Dados Gerais</span>
        </a>

        <a id="coberturas" routerLink="./../coberturas" class="dashCardWizard col bodyCard configuracaoProduto {{ exibeCoberturas ? '' : ''}}">
            <span class="status complete">
                <i class="material-icons">check</i>
            </span>
            <i class="large material-icons">settings_applications</i>
            <span>Coberturas</span>
        </a>

        <a id="asistencia-servicos" routerLink="./../assistencias" class="dashCardWizard col bodyCard cadastroProduto {{ exibeAssistencias ? '' : ''}}">
            <i class="large material-icons">note_add</i>
            <span>Assistência e Serviços</span>
        </a>

       <!-- <a id="precificacao" routerLink="/precificacao" class="dashCardWizard col cadastroProduto {{ exibePrecificacao ? '' : 'not-active'}}">
            <span class="status incomplete">3</span>
            <i class="large material-icons">settings_applications</i>
            <span>Precificação</span>
        </a>

        <a id="acoplados" routerLink="/configurar-acoplados" class="dashCardWizard col bodyCard configuracaoProduto {{ exibeAcoplados ? '' : 'not-active'}}">
            <i class="large material-icons">settings_applications</i>
            <span>Acoplados</span>
        </a>

        <a id="comissao" routerLink="/configurar-comissao" class="dashCardWizard col cadastroProduto {{ exibeComissao ? '' : 'not-active'}}">
            <i class="large material-icons">settings_applications</i>
            <span>Comissão</span>
        </a>

        <a id="cobranca" routerLink="/configurar-cobranca" class="dashCardWizard col bodyCard cadastroProduto {{ exibeCobranca ? '' : 'not-active'}}">
            <i class="large material-icons">note_add</i>
            <span>Cobrança</span>
        </a>

        <a id="subscricao" routerLink="/configurar-subscricao" class="dashCardWizard col bodyCard configuracaoProduto {{ exibeSubscricao ? '' : 'not-active'}}">
            <i class="large material-icons">settings_applications</i>
            <span>Subscrição</span>
        </a>

        <a id="importacao" routerLink="/importacao" class="dashCardWizard col cadastroProduto {{ exibeImportacao ? '' : 'not-active'}}">
            <i class="large material-icons">settings_applications</i>
            <span>Importação</span>
        </a>

        <a id="resumo" routerLink="/configurar-resumo" class="dashCardWizard col bodyCard configuracaoProduto {{ exibeResumo ? '' : 'not-active'}}">
            <i class="large material-icons">settings_applications</i>
            <span>Resumo</span>
        </a>-->
    </div>
    </div>