<div class="mainContent">
	lorem ipsulum dolor
</div>
	
    <!--<h5>P&aacute;gina inicial</h5>
    <div class="clearfix">
    	<p>P&aacute;gina n&atilde;o implementada!</p>

    	<fieldset>
            <div class="row">
    		<legend class="col s12">Demonstração do uso do componente global de exibição de mensagens</legend>
    	    	<button (click)="testarSucesso()" class="btn btnPrimary col s6">Lançar mensagem de sucesso como exemplo!</button>
    	    	<button (click)="testarAlerta()" class="btn btnPrimary col s6">Lançar mensagem de alerta como exemplo!</button>
    	    	<button (click)="testarErro()" class="btn btnPrimary col s6">Lançar mensagem de erro como exemplo!</button>
				<button (click)="testarLimpeza()" class="btn btnPrimary col s6">Testar limpeza do buffer global de mensagens!</button>
				<button (click)="msgConfirm()" class="btn btnPrimary col s6">Mensagens de confirmação!</button>
				<button (click)="resultadoMsgConfirm()" class="btn btnPrimary col s6">Resultado da confirmação ou Não!</button>
            </div>
		</fieldset>
		<h5>Paginação</h5>
		<div class="contentPagination">
			<ul class="pagination">
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="active"><a href="#!">1</a></li>
				<li class="waves-effect"><a href="#!">2</a></li>
				<li class="waves-effect"><a href="#!">3</a></li>
				<li class="waves-effect"><a href="#!">4</a></li>
				<li class="waves-effect"><a href="#!">5</a></li>
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			  </ul>
		</div>
	</div>-->

<!--<div id="loading">
	<div class="fullWindow"></div>
	<div class="loaderFull iconLoaderCenter">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
				<div class="circle"></div>
				</div><div class="gap-patch">
				<div class="circle"></div>
				</div><div class="circle-clipper right">
				<div class="circle"></div>
				</div>
			</div>
		</div>
			<p class="loaderMsg">Carregando...</p>
	</div>
</div>-->

