<h5 class="subTitle titleNivel1">Contato</h5>
<div class="generalBox">
  <div class="input-field col s3">
    <label class="active">Endereço</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Complemento</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Bairro</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Cep</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Cidade</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Pessoal</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Recado</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Contato</label>
    <span class="spanResult">lorem</span>
  </div>
  <div class="input-field col s3">
    <label class="active">Email</label>
    <span class="spanResult">lorem</span>
  </div>
  <h5 class="subTitle titleNivel1">Comunicação Venda / Pós Venda</h5>
  <div>
      <div class="row">
      <table class="striped tableCenter">
        <thead>
          <tr>
            <th>Data</th>
            <th>Versão do Formulário</th>
            <th>Formulário</th>
            <th>Processo</th>
            <th>Evento</th>
            <th>Tipo de Envio</th>
            <th>Endereço / Email / SMS</th>
            <th>Solicitante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-buttons">
    <button type="submit" class="buttonResultado waves-effect waves-light btn btnPrimary"
      [routerLink]="['./../../../../../dados-apolice']"><i class="material-icons left">arrow_back</i> Voltar</button>
  </div>
</div>
