<div class="mainContent">

  <!-- ######################## INICIO DETALHAMENTO #######################  -->
  <h5>Visualizar Agrupador de Local de Venda</h5>
  <div class="boxNext row"></div>

  <div class="clearfix"></div>
  <div class="col s12">
    <div class="row">

      <div class="input-field col s4">
        <label class="active">Situação</label>
        <input name="situacao" type="text" [value]="agrupadorLocalVenda?.situacao?.descricao" readonly>
      </div>

      <div class="clearfix"></div>

      <div class="input-field col s4">
        <label class="active">Código</label>
        <input id="codigo" name="codigo" type="text" [value]="agrupadorLocalVenda?.codigo" readonly>
      </div>

      <div class="input-field col s4">
        <label class="active">Descrição</label>
        <input id="descricao" name="descricao" type="text" [value]="agrupadorLocalVenda?.descricao" readonly>
      </div>

      <div class="clearfix"></div>

      <div class="input-field col s4">
        <label class="active">Início de Vigência</label>
        <input  id="dataInicioVigencia" name="dataInicioVigencia" type="text" [value]="utilService.formatarDataVisao( agrupadorLocalVenda?.dataInicioVigencia )" readonly>
      </div>

      <div class="input-field col s4">
        <label class="active">Início de Fim da Vigência</label>
        <input id="dataFimVigencia" name="dataFimVigencia" type="text" [value]="utilService.formatarDataVisao( agrupadorLocalVenda?.dataFimVigencia )" readonly>
      </div>

      <div class="clearfix"></div>
      <div class="box-buttons">
        <button type="button" class="waves-effect waves-light btn btnSecondary" (click)="voltar()">Fechar</button>
      </div>

    </div>
  </div>
  <!-- ######################## FIM DETALHAMENTO #######################  -->

</div>
