<div class="input-field" [formGroup]="propostaHeaderForm">

  <div class="input-field col s4">
    <label class="active" for="propostaNome">Nome</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaNome.value}}</span>
  </div>

  <div class="input-field col s4">
    <label class="active" for="propostaCpf">CPF</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaCpf.value}}</span>
  </div>

  <div class="input-field col s4">
    <label class="active" for="propostaProduto">Produto</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaProduto.value}}</span>
  </div>

  <div class="input-field col s4">
    <label class="active" for="propostaApolice">Apólice</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaApolice.value}}</span>
  </div>

  <div class="input-field col s4">
    <label class="active" for="propostaProposta">Proposta</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaProposta.value}}</span>
  </div>

  <div class="input-field col s4">
    <label class="active" for="propostaSituacao">Situação</label>
    <span class="spanResult">{{propostaHeaderForm.controls.propostaSituacao.value}}</span>
  </div>

</div>
