<div class="mainContent">
  <!-- ######################## ENDOSSO #######################  -->

  <h5>Endosso</h5>
  <div class="boxNext row"></div>

  <h5 class="subTitle titleNivel1">Informações</h5>
  <div class="row generalBox">
    <div class="boxNivel2">
      <div class="divider10"></div>
          <div class="input-field col s3">
            <label class="active">Nome</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">CPF</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Produto</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Apólice</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Data de Emissão</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Situação</label>
            <span class="spanResult">lorem</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Proposta</label>
            <span class="spanResult">0000</span>
          </div>
          <div class="input-field col s3">
            <label class="active">Número do bilhete</label>
            <span class="spanResult">009000</span>
          </div>
    </div>
  </div>

  <h5 class="subTitle titleNivel1">Endosso</h5>
  <div class="row generalBox">
        
          <table class="striped tableCenter">
            <thead>
              <tr>
                <th>Número do Endosso</th>
                <th>Origem</th>
                <th>Motivo Endosso</th>
                <th>Situação</th>
                <th>Início Vigência</th>
                <th>Fim Vigência</th>
                <th>Ações</th>
                
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>0000</td>
                <td>nome</td>
                <td>descrição do motivo do endosso</td>
                <td>descriação situação</td>
                <td>00/00/0000</td>
                <td>00/00/0000</td>
                <td>lorem</td>
              </tr>
              <tr>
                  <td>0000</td>
                  <td>nome</td>
                  <td>descrição do motivo do endosso</td>
                  <td>descriação situação</td>
                  <td>00/00/0000</td>
                  <td>00/00/0000</td>
                  <td>lorem</td>
                </tr>
            </tbody>
          </table>
          <div class="box-buttons">
              <button type="button" class="waves-effect waves-light btn btnPrimary" (click)="cadastrar()">Cadastrar</button>
          </div>
  </div>      
  
 
  <!-- ######################## FIM DE ENDOSSO #######################  -->
</div>
