<!-- Tela de Pesquisar Empresa de Assistencia  -->
<div class="mainContent">
  <h5>Pesquisar Empresa de Assistência</h5>
  <div class="boxNext">
      <a class="waves-effect waves-light btn nextButton btnNext" (click)="cadastrar()"><i class="material-icons left">send</i>Cadastrar</a>
  </div>

  <div class="clearfix"></div>
  <div class="col s12">
  <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="pesquisar()">
    <div class="row">

        <div class="input-field col s4">
            <label>ID</label>
            <input id="codigoEmpresaAssistencia" name="codigoEmpresaAssistencia" type="text" formControlName="codigoEmpresaAssistencia" [textMask]="constantesService.getMaskDef().numerico(4)" >
        </div>

      <div class="input-field col s4">
        <label class="active" for="nome">Nome</label>
        <input id="nome" name="nome" type="text" formControlName="nome" [textMask]="constantesService.getMaskDef().alfaNumerico(100)">
      </div>

      <div class="input-field col s4">
        <label class="active" for="razaoSocial">Razão Social</label>
        <input id="razaoSocial" name="razaoSocial" type="text" formControlName="razaoSocial" [textMask]="constantesService.getMaskDef().alfaNumerico(100)">
      </div>
  
      <!-- <div class="input-field col s4">
        <select class="noUppercase" formControlName="situacao" name="situacao" materialize="material_select">
          <option [ngValue]="null" readOnly selected>Selecione uma opção</option>
          <option *ngFor='let e of constantesService.getSituacoes();' [ngValue]="e.codigo">{{e.descricao}}</option>
        </select>          
        <label for="situacao">Situação </label>
      </div> -->

      <div class="clearfix"></div>
      <!-- Modal Structure -->
      <div id="modal1" class="modal bottom-sheet modalSuccess" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
          <div class="modal-content-icon">
            <i class="material-icons">check_circle</i>
          </div>
          <div class="modal-content">
            <h4>Parabéns</h4>
            <p>A ação foi concluída com sucesso</p>
          </div>
      </div>

      
      <div class="box-buttons">
          <button type="submit" class="waves-effect waves-light btn btnPrimary">Pesquisar</button>
      </div>
      <div class="grid-divider"></div>
        
      <div class="row">
        <table class="striped" *ngIf="retorno || retorno.length == 0">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Razão</th>
                <th>CNPJ</th>
                <th>Contato Caixa</th>
                <th>Contato Cliente</th>
                <th>Data de início de Vigência</th>
                <th>Data de fim de Vigência</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let i of retorno; let aux = index;">
                <td>{{i.codigo}}</td>
                <td>{{i.nome}}</td>
                <td>{{i.razaoSocial}}</td>
                <td>{{i.cpfCnpj}}</td>
                <td>{{i.contatoCaixa}}</td>
                <td>{{i.contatoCliente}}</td>
                <td>{{i.dataInicioVigencia | date:constantesService.getFormatoDataP()}}</td>
                <td>{{i.dataFimVigencia | date:constantesService.getFormatoDataP()}}</td>
                <td>{{i.situacao.descricao}}</td>

                <td class="tdCenter">

                  <a [routerLink]="" materialize="tooltip" data-tooltip="Visualizar" class="view tooltipped view" data-position="left" data-delay="10" 
                    (click)="visualizar(i)"> <i class="material-icons actionButtons">search</i>
                  </a>

                  <a [routerLink]="" materialize="tooltip" data-tooltip="Editar" class="view tooltipped edit" data-position="left" data-delay="10" 
                    (click)="editar(i)" *ngIf="i.situacao.codigo <= 1"><i class="material-icons actionButtons">edit</i>
                  </a>

                  <a [routerLink]="" materialize="tooltip" data-tooltip="Excluir" class="view tooltipped delete" data-position="left" data-delay="10" 
                    (click)="excluir(i)" *ngIf="i.situacao.codigo <= 1"><i class="material-icons actionButtons">delete_forever</i>
                  </a>

                  <a [routerLink]="" materialize="tooltip" data-tooltip="Encerrar" class="view tooltipped delete" data-position="left" data-delay="10" 
                    (click)="encerrar(i)" *ngIf="i.situacao.codigo >= 3"><i class="material-icons actionButtons">remove_red_eye</i>
                  </a>

                  <a [routerLink]="" materialize="tooltip" data-tooltip="Nova versão" class="view tooltipped edit" data-position="left" data-delay="10" 
                    (click)="gerarVersao(i)" *ngIf="i.situacao.codigo >= 2"><i class="material-icons actionButtons">add_circle_outline</i>
                  </a>

                </td>

              </tr>
            </tbody>
        </table>
      </div>

    </div>
  </form>
   </div>
</div>
<!-- ############# FIM DA TELA DE PESQUISAR ASSISTENCIA ################ -->
