<div class="mainContent">
<!-- ######################## PESQUISAR VENDEDOR #######################  -->

    <h5>Pesquisar Vendedor</h5>
    <div class="boxNext">
        <a class="waves-effect waves-light btn nextButton btnNext" (click)="cadastrar()"><i class="material-icons left">send</i>Cadastrar</a>
    </div>

    <div class="clearfix"></div>
    <div class="col s12">
        <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="pesquisar()">
            <div class="row">

                <div class="input-field col s2">
                    <label class="active" for="cpf">CPF</label>
                    <input id="cpf" [ngModel]="formulario.value.cpf | cpfMask" (ngModelChange)="formulario.value.cpf = $event" formControlName="cpf" name="cpf" type="text" maxlength="14">
                </div>
 
                <div class="input-field col s8">
                    <label class="active" for="nome">Nome</label>
                    <input id="nome" formControlName="nome" name="nome" type="text" [textMask]="constantesService.getMaskDef().alfaNumerico(100)">
                </div>
                
                <div class="input-field col s2">
                    <label class="active" for="codigoExterno">Código Externo</label>
                    <input id="codigoExterno" formControlName="codigoExterno" name="codigoExterno" type="text" [textMask]="constantesService.getMaskDef().numerico(11)">
                </div>

                <div class="clearfix"></div>

                <div class="box-buttons">
                    <button type="submit" class="waves-effect waves-light btn btnPrimary">
                        <i class="material-icons left">search</i> Pesquisar</button>
                </div>

                <div class="grid-divider"></div>
                <div class="row">
                    <table class="striped" *ngIf="retorno && retorno.length > 0">
                        <thead>
                            <tr>
                                <th>Código Externo</th>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Parceiro</th>
                                <th>Unidade Responsável</th>
                                <th>Início de vigência</th>
                                <th>Fim de vigência</th>
                                <th>Situação</th>
                                <th>Ação</th>
                            </tr>
                        </thead>

                        <tbody>
                                <tr *ngFor="let i of retorno; let aux = index;">
                                  <td>{{ i.codigoExterno }}</td>
                                  <td>{{ i.pessoaPapelNegocio?.pessoa?.cpfCnpj }}</td>
                                  <td>{{ i.pessoaPapelNegocio?.pessoa?.nomeRazaoSocial }}</td>
                                  <td>{{ i.parceiro?.descricao }}</td>
                                  <td>{{ i.unidadeNegocio?.sigla }}</td>
                                  <td>{{ i.dataInicioVigencia | date:constantesService.getFormatoDataP() }}</td>
                                  <td>{{ i.dataFimVigencia | date:constantesService.getFormatoDataP() }}</td>
                                  <td>{{ i.situacao.descricao }}</td>
                  
                                  <td class="tdCenter">
                
                                    <a [routerLink]="" materialize="tooltip" data-tooltip="Visualizar" class="view tooltipped view" data-position="left" data-delay="10" 
                                      (click)="visualizar(i)"> <i class="material-icons actionButtons">search</i>
                                    </a>
                
                                    <a [routerLink]="" materialize="tooltip" data-tooltip="Editar" class="view tooltipped edit" data-position="left" data-delay="10" 
                                      (click)="editar(i)" *ngIf="i.situacao.codigo <= 1"><i class="material-icons actionButtons">edit</i>
                                    </a>
                
                                    <a [routerLink]="" materialize="tooltip" data-tooltip="Excluir" class="view tooltipped delete" data-position="left" data-delay="10" 
                                      (click)="excluir(i)" *ngIf="i.situacao.codigo <= 1"><i class="material-icons actionButtons">delete_forever</i>
                                    </a>
                
                                    <a [routerLink]="" materialize="tooltip" data-tooltip="Encerrar" class="view tooltipped delete" data-position="left" data-delay="10" 
                                      (click)="encerrar(i)" *ngIf="i.situacao.codigo >= 3"><i class="material-icons actionButtons">remove_red_eye</i>
                                    </a>
                
                                    <a [routerLink]="" materialize="tooltip" data-tooltip="Nova versão" class="view tooltipped edit" data-position="left" data-delay="10" 
                                      (click)="gerarVersao(i)" *ngIf="i.situacao.codigo >= 2"><i class="material-icons actionButtons">add_circle_outline</i>
                                    </a>
                
                                  </td>
                  
                                </tr>
                              </tbody>
                         
                    </table>
                </div>

            </div>
            
        </form>

    </div>

<!-- ######################## FIM DE PESQUISAR VENDEDOR #######################  -->

</div>

